<%# トップページ %>
<%= render "shared/header" %>
<div class='main'>
<div class="top-ima">
  <%= image_tag "one.png",class:'top-image' %>
  <div class="top">
   <%= image_tag "acua.png",class:'top-tu' %>
   <%= image_tag "te.png",class:'top-te' %>
  </div>
</div>
<div class="space">
   <h1>コメント</h1> 
</div>  
<div class="holder">
  <div class="first"></div>
  <div class="second"></div>
  <div class="third"></div>
  <div class="txt">
    <%= image_tag "folk.png",class:"folk" %>
    <div class='recipe-contents'>
      <h2 class='recipe-title'>Recipe投稿一覧</h2>
      <%= link_to '新規Recipe投稿', new_recipe_path, class: "subtitle" %>
    </div>
  </div>
</div> 


  <div class="contents-row">
    <ul class='recipe-lists'>
      <% @recipes.each do |recipe| %> 
        <li class='list'>
          <%= link_to recipe_path(recipe.id) do %>
            <div class='recipe-img-content'>
              <%= image_tag recipe.image,class: 'recipe-image' %>
            </div>
            <div class='recipe-info'>
              <h3 class='category-name'>
                <%= recipe.category.name %>
              </h3>
              <h3 class='recipe-name'>
                <%= recipe.recipe_name %>
              </h3>
            </div>  
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="space-f"> 
   <%= image_tag "twitter.png",class:'twitter' %> 
   <%= image_tag "facebook.png",class:'facebook' %> 
   <%= image_tag "inst",class:'inst.png' %> 
   <%= image_tag "icon",class:'icon.png' %> 
  </div>  
</div>
<%= render "/shared/footer" %>